a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skew(-30deg);
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-family: roboto 'Courier New', Courier, monospace;
    border: 2px solid black;
    padding: 25px 50px;
    overflow: hidden;
}

span {
    display: block;
    transform: skew(30deg);
}

a::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -4px;
    width: 4px;
    background-color: #000;
    transition: .3s linear;
}

a:hover::before {
    left: 100%;
}

a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 4px;
    background-color: #000;
    transition: .2s .2s linear;
    color: black;
}

a:hover::after {
    bottom: 100%;
}